{% extends 'base.html' %} {% load static %} {% block head %}
<link
  rel="stylesheet"
  href="{% static 'css/cats/cat-index.css' %}"
/>
{% endblock %} {% block content %}

<h1>Sera's Weekly Skincare Routine</h1>
<hr />

<section class="card-container">
  {% for product in skincare_products %}
    {% if product.category == 'weekly' %}
      <div class="card">
        <div class="card-content">
          <div class="card-img-container">
            <img src="{% static product.image %}" alt="{{ product.product }}" />
          </div>
          <h2 class="card-title">{{ product.product }}</h2>
          <h3>{{product.name}}</h3>
          <p><strong>Brand:</strong> {{ product.brand }}</p>
          <p><strong>Benefits:</strong> {{ product.benefits }}</p>
          <p><strong>Value:</strong> {{ product.value }}</p>
        </div>
      </div>
    {% endif %}
  {% endfor %}
</section>

{% endblock %}